@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    background-color: #414A4A;
    color: rgb(207, 231, 202);

    margin: 0;

    font-family: 'Montserrat', sans-serif;
}

body.hideScroll{
    overflow: hidden;
}

a{
    text-decoration: none;
    color: #ABCF37;
    font-weight: bolder;
}

a:hover{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.459);
}

p, description{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}


#container{
    width: 90%;
    max-width: 980px;

    margin: 20px auto;

    display: flex;

    
    
}

#intro{
    width: 300px;
    margin-right: 32px;
}

#intro main{
    min-width: 300px;
    margin: 30px 0;
    text-align: justify;
}

#botoes{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

footer{
    text-align: center;

    font-size: 14px;
    line-height: 18px;
    font-weight: regular;
    letter-spacing: 0.2px;

    color: #777;
}

#botoes a{
    align-self: center;
}

button{
    border: none;
    background: none;
    color: #ABCF37;
    
    font-size: 14px;
    line-height: 18px;
    font-weight: bolder;
    letter-spacing: 0.2px;



    cursor: pointer;
    outline: none;
}

button:hover{
    text-decoration: underline;
}

.fat{
    background: #ABCF37;
    color: #414A4A;

    width: 140px;
    height: 40px;

    border-radius: 6px;

    box-shadow: 0 8px 16px rgba(172, 207, 55, 0.171);

}

.fat:hover{
    background-color: #777;
    box-shadow: 0 8px 16px rgba(203, 204, 200, 0.171);
    color: #fff;
}

.ideia{
    display: flex;
    margin-bottom: 32px;

    background-color: rgb(75, 90, 77);
    border-radius: 8px;
    box-shadow: 0 4px 16px -8px rgba(52, 56, 38, 0.658);

    padding: 32px;

    
}

.ideia img{
    width: 60px;
    height: 60px;
    margin-right: 32px;
}

.ideia h3{
    margin: 0;
}

.ideia p{
    margin: 8px 0;
    color: rgb(136, 155, 155);
}

.ideia .descricao{
    margin: 16px 0;
}


/* MODAL */

#modal{
    background-color: #ABCF37;
    color: #414A4A;
    
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    display: flex;
    justify-content: center;
    
}

 #modal.addScroll{
     overflow: auto;
 }

#modal main{
    margin-top: 5% ;

    width: 65%;
}

#modal main h1{
    text-align: center;

    text-transform: uppercase;
}

#modal form{
    width: 80%;
    max-width: 800px;

    margin: 0 auto 15%;

    text-align: left;

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 20px;
}


main form div:nth-child(3),
main form div:nth-child(4),
main form div:nth-child(5){
    grid-column: span 2;
}


form input, textarea{
    width: 100%;

    padding: 12px;

    box-sizing: border-box;

    border-radius: 6px;

    border: 1px solid rgba(172, 207, 55, 0.521);
    outline: 0;

    font-size: 16px;
}



form label{
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.8px;
}

form a{
    background-color: rgba(29, 37, 37, 0.384);

    width: 150px;
    height: 40px;

    border-radius: 8px;

    font-weight: bolder;
    font-size: 16px;

    /*FLEX*/
    display: flex;
    align-items: center;
    justify-content: center;

    /*GRID*/
    align-self: end;

    transition: 400ms;

}

form a:hover{
    background-color: rgba(255, 255, 255, 0.432);
    color: #414A4A;
}

form button{
    background-color: #414A4A;

    width: 150px;
    height: 40px;

    border-radius: 8px;

    cursor: pointer;

    box-shadow: 0 4px 16px  rgba(52, 56, 38, 0.658);

    margin-top: 16px;

    grid-column: 2;

    justify-self: end;

    transition: 400ms;
}

form button:hover{
    background-color: #fff;
    color: #414A4A;

}



#modal.hide{
    opacity: 0;
    visibility: hidden;
}

/* IDEIAS.HTML */

#pg_ideias #container{
    display: block;
}

#pg_ideias header{
    display: flex;
    
    justify-content: space-between;

}

#pg_ideias nav {
    display: flex;
    align-items: center;
}

#pg_ideias nav li{
    list-style: none;
    margin-right: 16px;
    
}

#pg_ideias nav li:nth-child(3){
    margin: 0;    
}

#pg_ideias nav li:nth-child(3) a{
    width: 150px;
    height: 40px;

    background-color: #ABCF37;
    box-shadow: 0 8px 16px rgba(172, 207, 55, 0.171);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;

    color: #414A4A;

    transition: 200ms;
}

#pg_ideias nav li:nth-child(3) a:hover{
    background-color: #777;
    box-shadow: 0 8px 16px rgba(203, 204, 200, 0.171);
    color: #fff;
}

section#title{
    text-align: center;

    margin: 64px 0;
}

section#title p {
    opacity: 0.7;
    margin: 0;
}

section#title h1{
    margin: 0;
    font-size: 25px;
}

section#ideias{
     display: grid;
     grid-template-columns: 1fr 1fr;

     gap: 20px;
}

section#ideias .ideia{
    margin: 0;
}

footer{
    margin-top: 64px;
}