{% extends "layout.html" %}

{% block titulo %}
    <title>Ideias - Cervejando</title>
{% endblock %}

{% set bodyId = "pg_ideias" %}

{% block conteudo %}
    <header>
        <a href="/"><img src="" alt="Sem logo no momento" width="300px"></a>
                    
        <nav>
            <li><a href="\">Início</a></li>
            <li><a href="#">Ideias</a></li>
            <li><a href="#" onclick="liga_desliga()">Nova Ideia</a></li>
                    
        </nav>
    </header>
    
    <section id="title">
        <p>Exibindo: </p>
        <h1>Ideias</h1>
    </section>
    
    <main>
        <section id="ideias">
            {% include "template_ideias.html" %}   
        </section>
    </main>
    <footer>
        Com 🍺 Josivan Gomes
    </footer>
{% endblock %}
        