{% extends "layout.html" %}

{% block conteudo %}
    <section id="intro">
        <header>
            <a href="/"><img src="" alt="Sem logo no momento" width="300px"></a>
        </header>
        
        <main>
            
            <p>
                Qual a cerveja que você fará hoje?
            </p>

            <p>
                Encontre aqui algumas ideias e dicas para testar, cozinhar, provar e aprender. <strong>Lembre-se, ninguém aprende a andar de bike só lendo ou vendo vídeos</strong> aqui você irá errar um pouco, mas sem erros não tem aprendizado
            </p>

            <p>
                Comece clicando em ver ideias para ver as ideias, receitas e dicas já cadastradas ou contribua adicionando novas ideias ao portifólio.
            </p>

        </main>

        <section id="botoes">
            <button class="fat" onclick="liga_desliga()">+ Adicionar Ideia</button>

            <a href="/ideias">Ver Ideias</a>
        </section>    

        <footer>
            Com 🍺 Josivan Gomes
        </footer>
    </section>

    <section id="ultimas-ideias">

        {% include "template_ideias.html" %}

        
    </section>
{% endblock %}